<a href="https://colab.research.google.com/github/4pphier/baekjoon/blob/main/python3/%EB%B0%B1%EC%A4%80_%EC%A0%95%EC%88%98%EB%A1%A0_%EB%B0%8F_%EC%A1%B0%ED%95%A9%EB%A1%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#5086

while True:
  m, n = map(int, input().split())
  if m == n == 0:
    break
  else:
    k = m / n
    l = n / m
    if int(k) == k:
      print('multiple')
    elif int(l) == l:
      print('factor')
    else:
      print('neither')

8 16
factor
32 4
multiple
17 5
neither
0 0

In [ ]:
# 1037

cnt = int(input())
divisor = list(map(int, input().split()))
maximum = max(divisor)
minimum = min(divisor)
n = maximum * minimum
print(n)

In [ ]:
# 2609

n, m = map(int, input().split())
gcd = 0

for i in range(1, n+1):
  if n % i == 0 and m % i == 0:
    gcd = i

lcm = gcd * (n / gcd) * (m / gcd)
lcm = int(lcm)

print(gcd)
print(lcm)

24 18
6
72

In [ ]:
# 1934

def euclidean(x, y):
  a = max(x, y)
  b = min(x, y)
  q = a // b
  r = a % b
  if r == 0:
    return b
  else:
    return euclidean(b, r)

t = int(input())

for i in range(t):
  m, n = map(int, input().split())
  gcd = euclidean(m, n)
  lcm = gcd * (n/gcd) * (m/gcd)
  lcm = int(lcm)
  print(lcm)

3
1 45000
45000
6 10
30
13 17
221

In [25]:
# 2981

import math

n = int(input()) # 숫자의 개수
num = [int(input()) for i in range(n)] # 숫자 입력
cha = [abs(num[k]-num[k+1]) for k in range(n-1)] # 차를 리스트로 저장
cha = sorted(cha)

# 최대공약수 구하는 함수
def gcd(x, y):
  a = max(x, y)
  b = min(x, y)
  q = a // b
  r = a % b
  if r == 0:
    return b
  else:
    return gcd(b, r)

# 차끼리의 최대공약수 중 가장 작은 수
mind = cha[0]
for j in range(0, len(cha)):
  mind = gcd(mind, cha[j])

# 최대공약수의 약수들이 M이 됨
sqrt = math.ceil(math.sqrt(mind))
M = {mind}
for m in range(2, sqrt+1):
  if mind%m == 0:
    M.add(m)
    M.add(int(mind/m))

M = sorted(M)
for ms in M:
  print(ms, end = ' ')

5
5
17
23
14
83
3

In [ ]:
# 3036

def euclidean(x, y):
  a = max(x, y)
  b = min(x, y)
  q = a // b
  r = a % b
  if r == 0:
    return b
  else:
    return euclidean(b, r)

def rotate(x, y):
  gcd = euclidean(x, y)
  a = int(y * (1/gcd))
  b = int(x * (1/gcd))
  return str(b) + "/" + str(a)
  
n = int(input())
ring = list(map(int, input().split()))

standard = ring[0]

for i in range(1, n):
  print(rotate(standard, ring[i]))

4
300 1 1 300
300/1
300/1
1/1

In [ ]:
# 11050

def multiple(x, y):
  if x <= y+1:
    return x
  else:
    return x * multiple(x-1, y)

n, k = map(int, input().split())

numerator = multiple(n, k)
denominator = multiple(n-k, 1)

if n == k:
  binom = 1
else:
  binom = int(numerator / denominator)

print(binom)

5 2
10

In [ ]:
# 11051

n, k = map(int, input().split())

binom = [[0 for j in range(i+1)] for i in range(n+1)]

for i in range(n+1):
  for j in range(i+1):
    if i == 0:
      binom[i][j] = 1
    elif j == i:
      binom[i][j] = 1
    elif j == 0:
      binom[i][j] = 1

if n == 1 or k == 0 or k == n:
  binom_nk = 1
else:
  for i in range(1, n+1):
    for j in range(1, min(i, k+1)):
      binom[i][j] = binom[i-1][j-1] + binom[i-1][j]
  binom_nk = binom[n][k]

answer = binom_nk % 10007
print(answer)

5 2
10

In [ ]:
# 1010

# 다리를 지을 수 있는 경우의 수 = m개 중 n개를 선택하는 경우의 수

T = int(input())

binom = [[0 for j in range(i+1)] for i in range(30+1)]

for i in range(30+1):
  for j in range(i+1):
    if i == 0:
      binom[i][j] = 1
    elif j == i:
      binom[i][j] = 1
    elif j == 0:
      binom[i][j] = 1

for t in range(T):
  n, m = map(int, input().split())
  if m == 1 or n == 0 or m == n:
    binom_mn = 1
  else:
    for i in range(1, m+1):
      for j in range(1, min(i, m+1)):
        binom[i][j] = binom[i-1][j-1] + binom[i-1][j]
    binom_mn = binom[m][n]
  print(binom_mn)

3
2 2
1
1 5
5
13 29
67863915

In [ ]:
# 9375

T = int(input())

for testcase in range(T):
  n = int(input())
  closet = {}

  for i in range(n):
    name, key = input().split()
    if key in closet:
      closet[key] = closet[key] + 1
    else:
      closet[key] = 1

  fashion = 1

  for cloth in closet:
    item = closet[cloth] + 1
    fashion = fashion * item

  print(fashion - 1)

2
3
hat headgear
sunglasses eyewear
turban headgear
5
3
mask face
sunglasses face
makeup face
3

In [ ]:
# 1676

n = int(input())

answer = (n//5) + (n//25) + (n//125)

print(answer)

10
2

In [ ]:
# 2004

n, m = map(int, input().split())

cnt_n_5 = 0
cnt_n_2 = 0

for i in range(1, 14):
  cnt_n_5 = cnt_n_5 + n//(5**i)

for i in range(1, 31):
  cnt_n_2 = cnt_n_2 + n//(2**i)

cnt_m_5 = 0
cnt_m_2 = 0

for i in range(1, 14):
  cnt_m_5 = cnt_m_5 + m//(5**i)

for i in range(1, 31):
  cnt_m_2 = cnt_m_2 + m//(2**i)

cnt_mn_5 = 0
cnt_mn_2 = 0

for i in range(1, 14):
  cnt_mn_5 = cnt_mn_5 + (n-m)//(5**i)

for i in range(1, 31):
  cnt_mn_2 = cnt_mn_2 + (n-m)//(2**i)

cnt_5 = cnt_n_5 - cnt_m_5 - cnt_mn_5
cnt_2 = cnt_n_2 - cnt_m_2 - cnt_mn_2

print(min(cnt_5, cnt_2))

25 12
2