<a href="https://colab.research.google.com/github/4pphier/baekjoon/blob/main/python3/%EB%B0%B1%EC%A4%80_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2739

N = int(input())

for i in range(1, 10):
  result = N * i
  print(str(N) + " * " + str(i) + " = " + str(result))

In [ ]:
#10950

T = int(input())

for i in range(0, T):
  A, B = map(int, input().split())
  print(A + B)

In [ ]:
#8393

n = int(input())
sum = 0

for i in range(1, n+1):
  sum = sum + i

print(sum)

In [ ]:
#15552
import sys

T = int(input())

for i in range(T):
  A, B = map(int, sys.stdin.readline().split())
  print(A+B)

#채점 결과 맞았다고 뜨는데 colab에서는 실행이 안된다. 왜지?

In [ ]:
#2741

N = int(input())

for i in range(1, N+1):
  print(i)

In [ ]:
#2742

N = int(input())

for i in range(0, N):
  print(str(N-i))

In [ ]:
#11021
#colab에서 오류
import sys

T = int(input())

for i in range(T):
  A, B = map(int, sys.stdin.readline().split())
  print("Case #" + str(i+1) + ": " + str(A+B))

In [ ]:
#11022
#colab에서 오류
import sys

T = int(input())

for i in range(T):
  A, B = map(int, sys.stdin.readline().split())
  print("Case #" + str(i+1) + ": " + str(A) + " + " + str(B) + " = " + str(A+B))

In [ ]:
#2438

N = int(input())

for i in range(N):
  star = "*" * (i+1)
  print(star)

In [ ]:
#2439

N = int(input())

for i in range(N):
  space = " " * (N - i - 1)
  star = "*" * (i + 1)
  print(space + star)

In [ ]:
#10871

N, X = map(int, input().split())
A = []

A = list(map(int, input().split()))

for i in range(N):
  if A[i] < X:
    print(A[i], end = ' ')

In [ ]:
# 25304

total = int(input()) # 총 금액
kind = int(input()) # 종류 수
sum = 0 # 계산할 금액

for i in range(kind):
  price, num = map(int, input().split())
  sum += price * num

if sum == total:
  print("Yes")
else:
  print("No")

250000
4
20000 5
30000 2
10000 6
5000 8
No

In [1]:
#10952

while True:
  A,B = map(int, input().split())
  if A!=0 or B!=0:
    print(A+B)
  else:
    break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

In [3]:
#10951

while True:
  try:
    A,B = map(int, input().split())
    print(A+B)
  except:
    break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [4]:
#1110

N = int(input())
num = str(N)
i = 1

while True:
  if int(num) < 10:
    num = str(int(num))*2
  else:
    num = num[-1] + str(int(num[0]) + int(num[-1]))[-1]

  if int(num) == N:
    print(i)
    break
  else:
    i = i + 1

26
4