<a href="https://colab.research.google.com/github/4pphier/baekjoon/blob/main/python3/%EB%B0%B1%EC%A4%80_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#11654

c = input()
print(ord(c))

z
122

In [2]:
#11720

n = int(input())
s = input()
sum = 0

for char in s:
  sum = sum + int(char)

print(sum)

11
10987654321
46

In [3]:
#10809

S = input()
alphabet = 'abcdefghijklmnopqrstuvwxyz'
index = []

for char in alphabet:
  if char not in S:
    index.append(-1)
  else:
    for i in range(len(S)):
      if char == S[i]:
        index.append(i)
        break

for j in range(len(index)):
  print(index[j], end = " ")

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [4]:
#2675

T = int(input())

for i in range(T):
  R = 0
  S = 0
  trs = ''
  R, S = input().split()
  R = int(R)
  for char in S:
    trs = trs + char*R
  print(trs)

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

In [9]:
#1157

word = input()
word_upper = word.upper()
w = list(set(word_upper))
count = []

for i in w:
  c = word_upper.count(i)
  count.append(c)

if count.count(max(count)) > 1:
  print("?")
else:
  print(w[count.index(max(count))])

baaa
A

In [8]:
#1152

sentence = input()
space = 0

for char in sentence:
  if char == ' ':
    space = space + 1

if sentence[0] == ' ':
  space = space - 1

if sentence[-1] == ' ':
  space = space - 1

print(space + 1)

The Curious Case of Benjamin Button
6

In [10]:
#2908

A, B = input().split()
a_reverse = A[2] + A[1] + A[0]
b_reverse = B[2] + B[1] + B[0]

if int(a_reverse) > int(b_reverse):
  print(a_reverse)
else:
  print(b_reverse)

839 237
938

In [11]:
#5622

word = input()
abc = 'ABCDEFGHIJKLMNOPQR'
stu = 'STUVWXYZ'
t = 0

for char in word:
  if char == 'Z':
    t = t + 10
  elif char in abc:
    for i in range(len(abc)):
      if abc[i] == char:
        t = t + i // 3 + 3
  else:
    for j in range(len(stu)):
      if stu[j] == char:
        t = t + (j-1) // 3 + 9

print(t)

UNUCIC
36

In [12]:
#2941

word = input()
num = 0

for char in word:
  if char.isalpha() == True:
    num = num + 1

if 'nj' in word:
  num = num - word.count('nj')

if 'lj' in word:
  num = num - word.count('lj')

if 'dz=' in word:
  num = num - word.count('dz=')

print(num)

dz=ak
3

In [13]:
#1316

n = int(input())
group_word = n

for i in range(n):
  word = input()
  char_list = []
  for j in range(len(word)):
    if word[j] not in char_list:
      char_list.append(word[j])
    else:
      if word[j] != word[j-1]:
        group_word = group_word - 1
        break

print(group_word)

9
aaa
aaazbz
babb
aazz
azbz
aabbaa
abacc
aba
zzaz
2

In [15]:
# 27866

text = input() #문자열 입력
i = int(input()) #글자 위치 입력

character = text[i-1] #위치는 1부터 시작하므로 1을 빼줌

print(character)

Baekjoon
4
k

In [16]:
# 2743
# 단어의 길이 출력하기

text = input()
length = len(text)

print(length)

pulljima
8

In [17]:
# 9086
# 문자열의 첫 글자와 마지막 글자 출력

t = int(input()) # number of test case

for i in range(t):
  text = input()
  first = text[0]
  last = text[-1]
  print(first+last)

3
ACDKJFOWIEGHE
AE
O
OO
AB
AB

In [21]:
# 11718
# 입력된대로 출력하기...

while True:
  try:
    text = input()
    print(text)
  except:
    break

Baekjoon
Baekjoon
Hello
Hello
Online Judge
Online Judge