<a href="https://colab.research.google.com/github/4pphier/baekjoon/blob/main/python3/%EB%B0%B1%EC%A4%80_1%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#10818

n = int(input())
num = list(map(int, input().split()))
print(min(num), max(num))

In [ ]:
#2562

num = []

for i in range(0,9):
  num.append(int(input()))

m = max(num)
print(m)

for i in range(1,10):
  if num[i-1] == m:
    print(i)
    break

In [ ]:
#2577

a = int(input())
b = int(input())
c = int(input())
mul = str(a*b*c)

for i in range(0, 10):
  print(mul.count(str(i)))
  i = i + 1

In [ ]:
#3052

rm_list = []

for i in range(10):
  num = int(input())
  rm = num % 42
  if rm not in rm_list:
    rm_list.append(rm)

print(len(rm_list))

In [ ]:
#1546

n = int(input())
score = list(map(int, input().split()))
max_score = max(score)
new_score = []
sum = 0

for i in range(len(score)):
  new = score[i] / max_score * 100
  new_score.append(new)

for j in range(len(new_score)):
  sum = sum + new_score[j]

print(sum/len(new_score))

In [ ]:
#8958

n = int(input())

for i in range(n):
  trial_list = []
  score = 0
  total = 0
  trial = input()
  for char in trial:
    trial_list.append(char)
  for response in trial_list:
    if response == 'X':
      score = 0
    else:
      score = score + 1
      total = total + score
  print(total)

In [ ]:
#4344

c = int(input())

for i in range(c):
  sum = 0
  average = 0
  over = 0
  n = list(map(int, input().split()))
  for j in range(1, len(n)):
    sum = sum + n[j]
  average = sum / n[0]
  for k in range(1, len(n)):
    if n[k] > average:
      over = over + 1
  p = over/n[0] * 100
  print("%.3f" %p + "%")

In [ ]:
# 10807

n = int(input())
arr = list(map(int, input().split()))
v = int(input())

cnt = 0
for num in arr:
  if num == v:
    cnt += 1

print(cnt)

11
1 4 1 2 4 2 4 2 3 4 4
5
0

In [ ]:
# 5597

attend = [int(input()) for i in range(28)] # 출석한 학생 리스트
absent = [] # 결석한 학생 리스트

for j in range(1, 31):
  if j not in attend:
    absent.append(j)

print(min(absent))
print(max(absent))

9
30
6
12
10
20
21
11
7
5
28
4
18
29
17
19
27
13
16
26
14
23
22
15
3
1
24
25
2
8

In [1]:
# 10810
# i번 바구니부터 j번 바구니까지 k번 공 넣기

N, M = map(int, input().split())
basket = [0 for n in range(N)]

for m in range(M):
  i, j, k = map(int, input().split())
  for num in range(i-1, j):
    basket[num] = k

print(*basket)

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

In [3]:
# 10831
# i번 바구니와 j번 공 바꾸기 N번

N, M = map(int, input().split())
basket = [n+1 for n in range(N)]

for m in range(M):
  i, j = map(int, input().split())
  temp_i = basket[i-1]
  temp_j = basket[j-1]
  basket[i-1] = temp_j
  basket[j-1] = temp_i

print(*basket)

5 4
1 2
3 4
1 4
2 2
3 1 4 2 5

In [9]:
# 10811
# i번 ~ j번째 바구니 역순으로 만들기

N, M = map(int, input().split())
basket = [n+1 for n in range(N)]

for m in range(M):
  i, j = map(int, input().split())
  temp = []
  temp = [basket[k] for k in range(i-1, j)]
  for l in range(len(temp)):
    basket[i-1+l] = temp[len(temp)-1-l]

print(*basket)

5 4
1 2
3 4
1 4
2 2
3 4 1 2 5